// Import du fichier partiel :
@use "variables" as v;



* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

// ACCUEIL

.accueil {
    background-color: v.$gris-fonce;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 50%;
    }

}

.bandeau {

    background-color: v.$vert-clair;
    width: 100;

    h1 {
        color: v.$blanc;
        font-size: 2rem;
        font-family: 'Calistoga', cursive;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
}

// CONTENU RECAPITULATIF

.formulaire{
    text-align: center;
    padding-top: 5rem;
    p{
        font-size: 1.5rem;
    }
}

.titre{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: v.$gris-moyen;
    font-weight: bold;
}


// FOOTER

.footer{
    background-image: url('/img/img_footer.jpg');
    background-size: cover;
    height: 20rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
}

.bouton {

    display: flex;
    justify-content: center;
    padding-top: 10rem;

    .btn {
        font-size: 2rem;
        font-family: 'Calistoga', cursive;
        color: white;
        background-color: v.$vert-clair;
        border: solid 1px v.$vert-clair;
        text-transform: uppercase;
        padding : 1rem 6rem 1rem 6rem;
        letter-spacing: 0.2rem;
    }

    .btn:hover {
        font-size: 2rem;
        font-family: 'Calistoga', cursive;
        color: white;
        background-color: v.$vert-fonce;
        border: solid 1px v.$vert-fonce;
        text-transform: uppercase;
        padding : 1rem 6rem 1rem 6rem;
        letter-spacing: 0.2rem;
    }
}
