*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

.accueil{
    background-image: url('/img/image_accueil.jpg');
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        max-width: 50%;
    }

}

.formulaire{
    padding-top: 2rem;
    font-size: 1.5rem;

.element{
    padding-top: 2rem;
   
.label{
    padding-bottom: 1rem;
}

.input{
    background-color: #d3d3d1;
    border: none;
    border-radius: 1rem;
    width: 26rem;
    padding: 1rem;
}
} 
}